{
	auto_https off
}

:80 {
	encode gzip zstd

	@manifest path /goose/latest.json
	header @manifest Cache-Control "no-store"

	handle /goose/* {
		root * /srv
		file_server
	}

	handle {
		root * /opt/site
		header Cache-Control "no-cache"
		file_server
	}
}
